.callContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  margin-top: 250px;
}

.callTwo {
  min-width: 300px;
  min-height: 90px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: bolder;
  color: white;
  background: rgb(217, 97, 6);
  background: linear-gradient(90deg, rgb(233, 114, 3) 0%, rgba(242, 172, 22, 0.769)100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #edd343d5;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 51%;
  left: 40%;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}


.callTwo::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 35px);
  min-height: calc(90px + 30px);
  border: 6px solid #ff6a00;
  box-shadow: 0 0 70px rgba(82, 245, 213, 0.761);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
  text-justify: unset;
}

.callTwo:hover,
.callTwo:focus {
  color: white;
  transform: translateY(-6px);
}

.callTwo:hover::before,
.callTwo:focus::before {
  opacity: 1;
}

.callTwo::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #ffbb00;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.callTwo:hover::after,
.callTwo:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
    z-index: 1;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
