.carouselContain {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.swiper {
  width: 100%;
  height: 450px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 93%;
  width: 100%;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.slide-item {
  padding: 0 5px;
  width: calc(95%/4);
  height: 100%;
  position: relative;
}

.slide-item>img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.title-slide-item {
  position: absolute;
  top: 1%;
  right: 5%;
  font-size: 41px;
  font-weight: bold;
  color: white;
}

.subtitle-slide-item {
  position: absolute;
  bottom: 15%;
  right: 1%;
  font-size: 20px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-weight: bold;
  color: white;
}

/* vertical */
.geometricA {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 90%;
  background-color: rgb(235, 148, 61);
  transform: skewY(30deg);
  rotate: calc(360deg)
}

.geometricB {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 15%;
  background-color: rgb(235, 148, 61);
  transform: skewX(180deg);
}

.carouselTittle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width:600px) {
  .title-slide-item {
    font-size: 18px
  }

  .subtitle-slide-item {
    font-size: 8px;
    right: 0%;
  }

  .swiper {
    height: auto;
  }
  .swiper-wrapper{
    height: auto;
  }
  .swiper-slide {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 10px;
    height: auto;
  }
  .slide-item {
    padding: 0 5px;
    width: calc(95%/2);
    height: 400px;
    position: relative;
  }
 

}

@media screen and (min-width:601px) and (max-width:960px) {
  .title-slide-item {
    font-size: 25px
  }

  .subtitle-slide-item {
    font-size: 15px;
    right: 0%;
  }
  .swiper {
    height: auto;
  }
  .swiper-wrapper{
    height: auto;
  }
  .swiper-slide {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    height: auto;
  }
  .slide-item {
    padding: 5px 5px;
    width: calc(95%/2);
    height: 400px;
    position: relative;
  }
}

@media screen and (min-width:1280px) {
  .title-slide-item {
    font-size: 35px
  }

  .subtitle-slide-item {
    font-size: 25px
  }
}