.citiesContent{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-top:12vh;
    margin-bottom: 50px;
   
}
.bannerSearch{
    width:100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  color: white;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/mytinerary-6ce01.appspot.com/o/banner%20cities%2F4.png?alt=media&token=86e5b0a1-eaa8-4647-aedd-5875d492b5cf);
  background-repeat: no-repeat;
  background-size: cover; 
}
.mirrow{
    background-color: black;
    opacity: 50%;
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0%;
}
.bannerSearchCont{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* margin: 0% 5%; */
}
.form-control .me-2{
    height: 30px;
    width: 80%;
}
.cities{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    flex-wrap: wrap;
}
.contCard{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 6%;
    row-gap: 32px;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.card{
    width: calc(90%/4); 
    height: 280px;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.cardImgContent{
    width:100%;
    height: 100%;
    overflow: hidden;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}
.cardImgContent>img{
    height: 100%;
    width:100%;
    max-width: 100%;
    max-height: 100%;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.buttonCard{
    position: absolute;
    bottom: 15%;
    right: 0;
    width: 100%;
    height: 5%;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.geometricC {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 93%;
    height: 11%;
    background-color: rgba(235, 148, 61, 0.652);
    transform: skewX(180deg);
  }
  .cardbtn>LinkRouter{
    text-decoration: none !important;
  }

  @media screen and (max-width:600px) {
    .citiesContent{
      text-align: center;
        margin-top:8vh;
  }
  .contCard{
    
    column-gap: 3%;
    row-gap: 32px;
    
}
.card{
    width: calc(90%/2); 
    height: 240px;
}
  }
  @media screen and (min-width:601px) and (max-width:960px) {
    .citiesContent{
        text-align: center;
          margin-top:8vh;
    }
    .contCard{
      
      column-gap: 4%;
      row-gap: 32px;
      
  }
  .card{
      width: calc(100%/3); 
      height: 260px;
  }
  }