.footer{
    background-color: #1976d2;
    color:white;
    /* padding-left: 0 !important;
    padding-right: 0 !important; */
  }


.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    width: 100%;
  }
  
  
  
  .footer .links div h3{
    /* font-size: 14.5px; */
    color: white;
    margin-bottom: 10px;
  }
  
  .footer .links div p{
    font-size: 12.5px;
    color: white;
  }
  
  .footer .icons-rrss{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .footer .icons-rrss button{
    background-color: var(--purple2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .footer .icons-rrss button:hover{
    background-color: var(--purple1);
  }
  
  .footer .icons-rrss i{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .copyright{
    background-color: #111111;
    padding: 5px;
    text-align: center;
  }
  
  .others{
    width:50%;
  }
  
  .contact{
    width: 50%;
  }
  
  .icons-rrss{
    display: flex;
    justify-content: center;
    margin-top: 5px;  
    background-color: #1976d2;
    margin: 0;
  }
  
  .icons-rrss button{
    margin: 5px;
  }
  

  .nav-footer{
    background-color: #1976d2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    
  }
  @media(max-width: 650px) {
  
        .footer{
          flex-direction: column;
        }
  
        .others{
          width:100%;
        }
        
        .contact{
          width: 100%;
        }
  
    
    }

  