.welcome {
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 11vh;
    padding-top: 20px;
}

.welcome>img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.textBanner{
width: 30%;
    height: 70vh;
    position:absolute;
    top:12%;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    text-transform: uppercase;
  } 
.subtContent{
  width: 30%;
    height: 550px;
    position:absolute;
    top:15%;
    left: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
}

.call {
  min-width: 300px;
  min-height: 60px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: bolder;
  color: white;
 background: rgb(217, 97, 6);
background: linear-gradient(90deg, rgb(233, 114, 3) 0%, rgba(242, 172, 22, 0.769)100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #edd343d5;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
    top: 50%;
    left: 7%;
  padding: 10px;
text-decoration: none;
text-align: center;
}


.call::before {
    content: '';
  border-radius: 1000px;
  min-width: calc(300px + 25px);
  min-height: calc(60px + 25px);
  border: 6px solid #ff6a00;
  box-shadow: 0 0 70px rgba(82, 245, 213, 0.761);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
    }
    
    .call:hover, .call:focus {
      color: white;
      transform: translateY(-6px);
    }
    
   .call:hover::before, .call:focus::before {
      opacity: 1;
    }
    
    .call::after {
      content: '';
      width: 30px; height: 30px;
      border-radius: 100%;
      border: 6px solid #ffbb00;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: ring 1.5s infinite;
    }
    
   .call:hover::after, .call:focus::after {
      animation: none;
      display: none;
    }
    
    @keyframes ring {
      0% {
        width: 30px;
        height: 30px;
        opacity: 1;
        z-index: 1;
      }
      100% {
        width: 300px;
        height: 300px;
        opacity: 0;
      }
    }