.welcome {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 9.5vh;
  padding-top: 20px;
  background: rgb(30,136,229);
  background: radial-gradient(circle, rgba(30,136,229,1) 29%, rgba(13,71,161,1) 100%);
}
.callContent{
  width: 30%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.heroContent{
  width: 40%;
  height:90%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   border-radius: 50%;
   overflow: hidden;
}

.heroContent>img {
  width: 100%;
  height:100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;

}
/* .bannerTitle{
  width: 80%;
  position: relative;
  bottom: 50%;
} */
.textBanner {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

/* .subtContent {
  width: 30%;
  height: 400px;
  position: absolute;
  top: 0%;
  left: -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
} */

.call {
  min-width: 300px;
  min-height: 60px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: bolder;
  color: white;
  background: rgb(217, 97, 6);
  background: linear-gradient(90deg, rgb(233, 114, 3) 0%, rgba(242, 172, 22, 0.769)100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #edd343d5;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 51%;
  left: 2%;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}


.call::before {
  content: 'Yes, lets go!';
  border-radius: 1000px;
  min-width: calc(300px + 35px);
  min-height: calc(60px + 30px);
  border: 6px solid #ff6a00;
  box-shadow: 0 0 70px rgba(82, 245, 213, 0.761);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
  text-justify: unset;
}

.call:hover,
.call:focus {
  color: white;
  transform: translateY(-6px);
}

.call:hover::before,
.call:focus::before {
  opacity: 1;
}

.call::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #ffbb00;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.call:hover::after,
.call:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
    z-index: 1;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

@media screen and (max-width:600px) {
 
   .welcome {
    flex-direction: column;
    
  }
  .callContent{
   display:none;

  }
  .heroContent{
    width: 80%;
    height:60%;
  }
  .textBanner {
    width: 98%;
    height:30%;
  }


}

@media screen and (min-width:601px) and (max-width:960px) {
 
   .welcome {
    flex-direction: column;
  }
  .callContent{
    width: 98%;
     height:20%;
 position:absolute;
 top: 5vh;
 left: 30%;
   }
   .heroContent{
     width: 70%;
     height:70%;
     padding-top: 20%;

   }
   .textBanner {
     width: 98%;
     height:30%;
   }
 

  .call {
    font-size: 15px;
    left:1%;
  }



  .call::after {
 
    border: 4.5px solid #ffbb00;
  }
}

