body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Mr Dafoe', 'Hind Guntur','La Belle Aurore', 
    'Inknut Antiqua', serif,cursive,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* font-family: 'Hind Guntur', sans-serif; typografy
font-family: 'Inknut Antiqua', serif; subtitulos
font-family: 'La Belle Aurore', cursive; manuscrit
font-family: 'Mr Dafoe', cursive; titulos */