body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Fira Sans', 'Mr Dafoe', 'Nanum Gothic',
    'Saira Extra Condensed',cursive,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
